# Machine Learning fo Reaserch

#### [Institute of Data Science at Maastricht University](https://www.maastrichtuniversity.nl/research/institute-data-science)
---

## Steps to choose a method based in a research question

- 1) Get to know your data  
- 2) Fit on train data  
- 3) Evaluate on test data  
- 4) Compare Methods

In [1]:
#import turicreate as tc
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

***`turicreate` [documentation](https://apple.github.io/turicreate/docs/api/index.html)***

### Load Across National Health Data
- Terms of use [ICPSR 34241](https://www.icpsr.umich.edu/icpsrweb/ICPSR/studies/34241/terms)

This Across-national Health Outcome dataset includes over 30000 participants' personal social, economic, life-style, health data across 6 countries -- India, Ghana, China, South Africa, Mexico, and Russia. Features contains income, education level, parents socio-economic level, drinking, smoking, self-report health status, chronic disease, etc.
Dataset contains categorial value: 0 or 1 or -1 (-1 means value is missing), numercial values.

This data is a part of Research on Early Life and Aging Trends and Effects:
McEniry, Mary. Research on Early Life and Aging Trends and Effects (RELATE): A Cross-National Study. Ann Arbor, MI: Inter-university Consortium for Political and Social Research [distributor], 2015-05-07. https://doi.org/10.3886/ICPSR34241.v2

In [4]:
df_health = pd.read_csv('https://s3.eu-west-3.amazonaws.com/pedrohserrano-datasets/across-national-health-data.csv')

In [5]:
df_health.head()

,ID,COUNTRY,BIRTHCOHORT,RESIDENCE,GENDER,AGE,CIVIL,POSITIONFIN,YEDUCA,EDUCATION,...,DIABETES,STROKE,ARTHRITIS,NCHRONIC,WEIGHT,WAIST,HIP,BMI,BMI_CAT,OBESITY
0,3323,Ghana-WHO/SAGE,15,0,1,50,2,1,0,2,...,0,0,0,0,76,104,106,25.57049,4,0
1,11580,China-WHO/SAGE,12,0,1,66,1,1,2,2,...,0,0,1,1,65.5,88,100,24.65279,3,0
2,5593,China-WHO/SAGE,12,1,1,65,1,3,0,1,...,0,0,0,0,32,64.2,84.4,17.25027,2,0
3,8744,China-WHO/SAGE,12,0,0,68,1,2,6,2,...,0,0,0,0,75,95,102,27.2173,4,0
4,6277,China-WHO/SAGE,14,1,0,55,1,1,6,2,...,0,0,0,0,69,76.5,90.5,23.6523,3,0

---
## Get to know your data

In [6]:
df_health.describe()

,ID,BIRTHCOHORT,RESIDENCE,GENDER,CIVIL,POSITIONFIN,EDUCATION,QUINT,WEALTH_INDEX,WEALTH_ASSETS,...,RESPIRATORY,HEART,ANGINA,HEART_ATTACK,DIABETES,STROKE,ARTHRITIS,NCHRONIC,BMI_CAT,OBESITY
count,37725.000000,37725.000000,37725.000000,37725.000000,37725.000000,37725.000000,37725.000000,37725.000000,37725.000000,37725.000000,...,37725.000000,37725.000000,37725.000000,37725.0,37725.000000,37725.000000,37725.000000,37725.000000,37725.000000,37725.000000
mean,4033.850364,11.315176,0.445169,0.434964,1.619404,1.323605,1.796978,2.307462,2.204665,3.995679,...,-0.055162,-0.133121,-0.133121,-1.0,-0.047634,-0.084904,0.071146,0.554672,2.719841,-0.029264
std,3307.125560,3.868191,0.558426,0.620141,1.500357,0.891373,1.385564,1.975064,1.077217,2.836785,...,0.418219,0.604201,0.604201,0.0,0.428834,0.374792,0.545974,1.094957,1.813441,0.525959
min,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1572.000000,10.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,-1.000000,-1.000000,-1.0,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
50%,3144.000000,12.000000,0.000000,1.000000,1.000000,1.000000,2.000000,2.000000,3.000000,4.000000,...,0.000000,0.000000,0.000000,-1.0,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
75%,5544.000000,14.000000,1.000000,1.000000,2.000000,2.000000,3.000000,4.000000,3.000000,7.000000,...,0.000000,0.000000,0.000000,-1.0,0.000000,0.000000,0.000000,1.000000,4.000000,0.000000
max,13368.000000,16.000000,1.000000,1.000000,5.000000,3.000000,4.000000,5.000000,3.000000,8.000000,...,1.000000,1.000000,1.000000,-1.0,1.000000,1.000000,1.000000,6.000000,5.000000,1.000000

### How many features are there ?

In [7]:
# sf.head()
# sf.print_rows(num_rows=10, num_columns=61)

### Is any value missing in the dataset ?

In [8]:
# sf = sf.dropna()

# for i in sf.column_names():
#     sf = sf[sf[i] != -1]
# sf.materialize()
# sf

### What problem do you want to solve?

Classify certain disease?  
predicict health outcome?  
Which features do have great impact on health?  
Are you gonna use all data or one country data?

Kunnen we voorspellen of iemand chronisch ziek is?

In [10]:
df_health["CHRONIC"] = df_health["NCHRONIC"] >= 1

In [12]:
df_health.NCHRONIC.value_counts()

 0    17167
 1     9313
-1     4612
 2     4356
 3     1703
 4      473
 5       95
 6        6
Name: NCHRONIC, dtype: int64

In [13]:
df_health.CHRONIC.value_counts()

False    21779
True     15946
Name: CHRONIC, dtype: int64

Remove the feature which your target feature has an encoding relation.

In [ ]:
sf = sf.remove_columns(['NCHRONIC', 'ID'])
sf = sf[sf['DIABETES'] != -1]
sf = sf[sf['COUNTRY'] == 'China-WHO/SAGE']

---
## Fit on train data

In [ ]:
sf_health = tc.SFrame('https://s3.eu-west-3.amazonaws.com/pedrohserrano-datasets/across-national-health-data.csv')

---
## Evaluate on test data

---
### Documentation of the Method

The goal of construct a method is the reproducibility, that is why is important to document the procedures, taking into account versioning control of script for replicable science.

Notebooks like this one go a long way toward making our work reproducible. Since we documented every step as we moved along, we have a written record of what we did and why we did it â€” both in text and code.

Beyond recording what we did, we should also document what software and hardware we used to perform our analysis. This typically goes at the top of our notebooks so our readers know what tools to use.

[Sebastian Raschka](https://sebastianraschka.com/) created a handy notebook tool for this:

In [ ]:
#!pip install watermark
#only install once

In [ ]:
%load_ext watermark

In [ ]:
%watermark -a 'Maastricht University' -nmv --packages turicreate,pandas,seaborn,matplotlib